.border-topbottom
  &:before
    border-color: #cccccc;
  &:after
    border color #cccccc; 
.list 
  overflow hidden
  position absolute
  top 158px 
  left 0
  right 0
  bottom: 0
  .title 
   line-height:44px
   background: #eeeeee
   padding-left: 20px
   color: #666666
   font-size: 26px
 .button-list
  overflow hidden
  padding: 10px 60px 10px 10px
  .button-wrapper
    float left 
    width: 33.33%
    .button
      text-align: center
      margin: 10px
      border: 2px solid #cccccc
      padding: 10px 0
      border-radius: 6px
 .item-list
  .item
    line-height: 76px;
    color: #666666;
    padding-left: 20px; 

 
