.gallary >>> .swiper-container
   overflow inherit
.gallary >>> .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -180px !important;
    left: 0;
    width: 100%;
    color: #ffffff !important
}
.gallary
   display:flex
   flex-direction: column
   justify-content center
   z-index: 99
   position:fixed
   left:0
   right:0
   top:0
   bottom:0
   background: #000000
   .wrapper
     height 0
     width: 100%
     padding-bottom: 100%
     .gallary-img
       width: 100%
       .swiper-pagination
         color: #ffffff !important 
         bottom: -3rem
         