@import '../../../styles//varibles.styl'
.search 
   height 72px
   padding-left 10px
   padding-right: 10px
   background: $bgColor
   .search-input 
    box-sizing: border-box
    width: 100%
    height 62px
    padding-left: 10px
    padding-right: 10px
    line-height 62px;
    color: $fontDescColor
    text-align: center
    border-radius: 6px
.search-content
  overflow hidden
  position absolute
  top 158px;
  background: #fff
  z-index: 1
  right 0;
  bottom: 0
  width: 100%
  .search-item
    line-height: 62px
    padding-left: 20px
    color: #666666
 