@import '../../../styles/varibles.styl'
.header-bar
  height $navBarHeight
  display: flex
  background:$bgColor
  color: $white;
  line-height: $navBarHeight
  .header-back
    width: 64px
    float:left
    padding-left:10px
    .icon-back:before
      font-size: 30px
  .header-title
    flex: 1
    border-radius: 5px
    margin-top: 12px
    padding-left: 20px
    height 64px
    color: $white
    line-height: 64px
    text-align: center
  .header-city
    width: 124px
    float right
    text-align: center
 

