@import '../../styles/mixins.styl'
.icons >>> .swiper-container 
  height 0
  padding-bottom: 40%
.icons
   overflow hidden
   height 0
   padding-bottom: 44%
   background: #ffffff
   padding-top: 30px;
   .icon
     width: 25%
     height 160px
     float left
     background: #ffffff
     overflow hidden
     text-align: center
     .iconimg 
      width: 100px
      height: 100px
     .keywords 
       margin-top: 10px
       font-size: 25px
       display block
       color: #333333;
       ellipsis()
