.list 
  .item-title
    line-height: 80px
    height 80px
    background: #ffffff
    font-size: 32px
    padding 0 70px
    .item-title-icon
      background:url('http://s.qunarzz.com/piao/image/touch/sight/detail.png') 0 -.89rem no-repeat
      display: inline-block;
      position: absolute;
      width: .36rem;
      height: .36rem;
      top: .18rem;
      left: .2rem;
      margin-right: .1rem;
      background-size: .4rem 3rem;
  .item-children
     padding 0 30px;
