 @import '../../styles/mixins.styl'
 @import '../../styles/varibles.styl'
 .recomend
   margin-left: 24px
   margin-right: 24px
   padding-top: 20px;
   .title
     float left
     height 47px
     line-height: 47px
     width: 100%;
     font-size: 38px
     .title-icon
       width: 52px
       height 52px
     .title-desc
       color: #333333
       padding-left: 3px;
   .recomend-list
     .recomend-item
       display flex
       padding-bottom: 20px
       width: 100%
       padding-top: 20px;
       .recomend-img 
         width: 200px
         height 200px 
       .recomend-info 
         padding-left: 20px
         padding-top: 30px
         .recomend-info-title
          font-size: 40px
          padding-bottom: 32px
          color: $fontColor
         .recomend-info-desc
          font-size: 22px
          padding-bottom: 32px
          color: $fontDescColor
          max-width: 500px
          ellipsis()
         .recomend-info-price-unt
          color: $fontExtrudeColor
         .recomend-info-price
          font-size: 35px
          color: $fontExtrudeColor
         .recomend-info-price-unts
           font-size: 24px
           color: $fontDescColor
           padding-left: 3px
         
        
     
       



     
    